@use '../abstracts/mixins' as *;

.project {
	border-radius: 1rem;
	background-color: var(--clr-background-400);
	height: fit-content;

	&__preview {
		border-radius: inherit;
		aspect-ratio: 16 / 9;
		object-fit: cover;
		width: 100%;
	}

	&__info {
		display: grid;
		gap: 2rem;
		padding: 1rem;

		&__title {
			font-size: var(--fs-500);
			font-weight: 600;
		}

		&__techs {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			background-color: var(--clr-background-300);
			padding: 0.5rem;
			border-radius: 0.2rem;

			img {
				width: 1.2rem;
				height: 100%;
			}

			&__item {
				position: relative;

				&__tooltip {
					color: var(--theme-text);
					position: absolute;
					bottom: 150%;
					left: 50%;
					transform: translateX(-50%);
					background-color: black;
					padding: 0.5rem;
					border-radius: 0.5rem;
					display: none;
					z-index: 9999;

					&::after {
						@include south-facing-triangle(black);
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translate(-50%, 100%);
					}
				}

				&:hover > &__tooltip,
				&:focus > &__tooltip {
					display: block;
				}
			}
		}

		&__cta {
			padding-block: 0.5rem;
		}
	}
}
