@use '../abstracts/colors' as *;
@use '../abstracts/themes' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/type-scale' as *;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500');

:root {
	font-family: 'Fira Code', monospace;

	@each $color, $shades in $colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	@each $screen-size, $font-size in $type-scale {
		@if ($screen-size == small) {
			@each $size, $value in $font-size {
				--fs-#{$size}: #{$value};
			}
		} @else {
			@include mq(medium) {
				@each $size, $value in $font-size {
					--fs-#{$size}: #{$value};
				}
			}
		}
	}

	@each $theme, $property-names in $themes {
		&[data-theme='#{$theme}'] {
			@each $property-name, $value in $property-names {
				--#{$property-name}: #{$value};
			}
		}
	}

	--content-padding: 3rem;
	@include mq(small) {
		--content-padding: 5rem;
	}

	color: var(--theme-text);
	background-color: var(--theme-background);
	transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

	a {
		color: var(--theme-primary);
		text-decoration: none;
		transition: color 250ms ease-in-out;

		&:not(.btn):hover,
		&:not(.btn):focus {
			text-decoration: underline;
		}
	}

	.btn {
		display: inline-block;
		border: 0.2rem solid var(--theme-primary);
		border-radius: 0.5rem;
		padding: 1rem 2rem;
		font-weight: 600;
		transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

		&:hover,
		&:focus {
			color: var(--clr-neutral-100) !important;
			background-color: var(--theme-primary) !important;
		}

		&--invert {
			color: var(--clr-neutral-100);
			background-color: var(--theme-primary);

			&:hover,
			&:focus {
				color: var(--theme-primary) !important;
				border: 0.2rem solid var(--theme-primary) !important;
				background-color: var(--clr-neutral-100) !important;
			}
		}
	}

	// Credit: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
	.sr-only {
		border: 0 !important;
		clip: rect(1px, 1px, 1px, 1px) !important;
		-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
		white-space: nowrap !important;
	}
}
