.contact {
	h1 {
		font-size: var(--fs-700);
		color: var(--theme-primary);
		line-height: 100%;
	}

	&__content {
		background-color: var(--clr-background-400);
		padding: 1rem;
		border-radius: 0.5rem;
		margin-top: 1em;

		&__form {
			background-color: var(--theme-background);
			display: grid;
			gap: 1rem;
			padding: 1rem;
			border-radius: inherit;

			&__group {
				display: flex;
				border: 0.1rem solid var(--clr-text-100);
				border-radius: inherit;

				&:focus-within {
					border-color: var(--theme-primary);

					label {
						color: var(--theme-primary);
					}
				}

				label {
					cursor: pointer;
					padding-block: 1rem;
					padding-inline: 1rem 0;
					height: 100%;
				}

				input,
				textarea {
					width: 100%;
					padding: 1rem;
					border: none;
					background-color: transparent;
					outline: none;
					color: var(--clr-text-100);

					&::placeholder {
						color: var(--clr-text-100);
					}
				}

				textarea {
					min-height: 10em;
					resize: none;
				}
			}

			&__error {
				margin-top: -0.5em;
				color: hsl(0, 0%, 75%);
			}

			button {
				cursor: pointer;
				color: var(--theme-primary);
				background-color: transparent;
			}
		}
	}
}
