@use '../abstracts/mixins' as *;

.contact {
	&__noscript__message {
		display: grid;
		place-items: center;
		padding: 1rem;
		font-weight: 600;
		font-size: var(--fs-400);
		color: var(--clr-neutral-100);
		border-radius: 0.5rem;
		border: 0.2rem solid hsl(0, 100%, 50%);
		background-color: hsl(0, 100%, 30%);
		margin-top: 1rem;
		margin-bottom: -1rem;
	}

	&__content {
		display: flex;
		flex-direction: column-reverse;
		gap: 3rem;
		border-radius: 0.5rem;
		margin-top: 3rem;

		@include mq(medium) {
			flex-direction: row;
		}

		&__info {
			flex: 1;
			text-align: justify;
			max-width: 75ch;

			& > * + * {
				margin-block-start: 1em;
			}

			noscript {
				h3 {
					margin-block-start: 1em;

					span {
						text-transform: uppercase;
					}
				}
			}
		}

		&__form {
			display: grid;
			gap: 1rem;
			border-radius: inherit;
			flex: 1;

			&__group {
				display: flex;
				border: 0.1rem solid var(--theme-text);
				border-radius: inherit;
				transition: border-color 250ms ease-in-out;

				&:focus-within {
					border-color: var(--theme-primary);

					label {
						color: var(--theme-primary);
					}
				}

				label {
					cursor: pointer;
					padding-block: 1rem;
					padding-inline: 1rem 0;
					height: 100%;
				}

				input,
				textarea {
					width: 100%;
					padding: 1rem;
					border: none;
					background-color: transparent;
					outline: none;
					color: var(--theme-text);

					&::placeholder {
						color: var(--theme-text);
						transition: color 250ms ease-in-out;
					}
				}

				textarea {
					min-height: 10em;
					resize: none;
				}
			}

			&__error {
				margin-top: -0.5em;
				color: hsl(0, 0%, 75%);
			}

			button {
				cursor: pointer;
				color: var(--theme-primary);
				background-color: transparent;
			}
		}
	}
}
