@use '../abstracts/mixins' as *;

.projects {
	form {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 1em;
		position: relative;

		input[type='checkbox'][name='technologies-toggle'] {
			position: absolute;
			opacity: 0;
			z-index: -1;

			&:focus + label[for='technologies-toggle'] {
				outline: auto;
			}

			&:focus + label[for='technologies-toggle'],
			&:hover + label[for='technologies-toggle'] {
				background-color: var(--clr-neutral-100);
				color: var(--theme-primary);
				border: 0.2rem solid var(--theme-primary);
			}

			&:checked ~ select[name='technologies'] {
				transform: scaleY(100%);
				visibility: visible;
			}
		}

		label[for='technologies-toggle'] {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--clr-neutral-100);
			background-color: var(--theme-primary);
			border: 0.2rem solid var(--theme-primary);
			font-weight: 600;
			padding: 0.3rem 1rem;
			border-radius: 0.5rem;
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Safari */
			-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
			transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
			// Add a triangle facing down
			&::after {
				@include south-facing-triangle(currentColor);
			}
		}

		// TODO: Make the select box look pretty
		select[name='technologies'] {
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 2.53em;
			width: fit-content;
			padding: 0.5rem;
			border-radius: 0.5rem;

			transform: scaleY(0);
			transform-origin: top;
			visibility: hidden;
			transition: transform 250ms ease-in-out, visibility 300ms ease-in-out;

			overflow: hidden;
			z-index: 9998; // Just 1 below the navbar which has a z-index of 9999

			option {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem;

				img {
					width: 1.2rem;
					height: 100%;
				}
			}
		}

		button,
		a {
			cursor: pointer;
			padding: 0.2rem 0.5rem;
		}
	}

	&__no-projects {
		margin-block: 3em;

		> * {
			margin-block: 1.5em;
			max-width: 75ch;
		}
	}

	&__info {
		display: grid;
		place-items: center;

		&__grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
			gap: 2rem;
			margin-block: 3rem;
			width: 100%;
		}

		&__paginator {
			display: flex;
			gap: 1rem;

			&__item {
				cursor: pointer;
				color: var(--theme-text);
				background-color: var(--theme-project-bg);
				padding: 1rem;
				border: none;
				border-radius: 0.2rem;
				transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

				&[aria-disabled='true'] {
					color: grey;
				}

				&[aria-current='page'],
				&[aria-disabled='false']:hover,
				&[aria-disabled='false']:focus {
					text-decoration: none;
					color: var(--clr-neutral-100);
					background-color: var(--theme-primary);
				}
			}
		}
	}
}
