@use '../abstracts/mixins' as *;

.projects {
	&__filter {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin-top: 1em;
		position: relative;

		input[type='checkbox'][name='technologies-toggle'] {
			position: absolute;
			opacity: 0;
			z-index: -1;

			&:focus + label[for='technologies-toggle'] {
				outline: auto;
			}

			&:focus + label[for='technologies-toggle'],
			&:hover + label[for='technologies-toggle'] {
				background-color: var(--clr-neutral-100);
				color: var(--theme-primary);
				border: 0.2rem solid var(--theme-primary);
			}

			&:checked ~ .projects__filter__items {
				transform: scaleY(100%);
				visibility: visible;
			}
		}

		label[for='technologies-toggle'] {
			@include no-select();
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--clr-neutral-100);
			background-color: var(--theme-primary);
			border: 0.2rem solid var(--theme-primary);
			font-weight: 600;
			padding: 0.3rem 1rem;
			border-radius: 0.5rem;
			transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
			// Add a triangle facing down
			&::after {
				@include south-facing-triangle(currentColor);
			}
		}

		&__items {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
			gap: 0.5rem;
			background-color: var(--theme-project-bg);
			border: 0.2rem solid var(--theme-primary);
			position: absolute;
			left: 0;
			top: 2.53em;
			width: 100%;
			padding: 0.5rem;
			border-radius: 0.5rem;

			transform: scaleY(0);
			transform-origin: top;
			visibility: hidden;
			transition: transform 250ms ease-in-out, visibility 300ms ease-in-out;

			overflow: hidden;
			z-index: 9998; // Just 1 below the navbar which has a z-index of 9999

			&__group {
				display: flex;
				position: relative;
				padding: 0 0.5rem;
				cursor: pointer;

				input[type='checkbox'] {
					cursor: pointer;

					&:checked + label {
						color: var(--clr-neutral-100);

						&::after {
							background-color: var(--theme-primary);
						}
					}
				}

				label {
					@include no-select();
					display: flex;
					align-items: center;
					gap: 0.5rem;
					padding: 0.5rem;
					width: 100%;
					cursor: pointer;

					&::after {
						content: '';
						position: absolute;
						inset: 0;
						border-radius: 0.5rem;
						z-index: -1;
					}

					img {
						width: 1.2rem;
					}
				}
			}
		}

		button,
		a {
			cursor: pointer;
			padding: 0.2rem 0.5rem;
		}
	}

	&__no-projects {
		margin-block: 3em;

		> * {
			margin-block: 1.5em;
			max-width: 75ch;
		}
	}

	&__info {
		display: grid;
		place-items: center;

		&__grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
			gap: 2rem;
			margin-block: 3rem;
			width: 100%;
		}

		&__paginator {
			display: flex;
			gap: 1rem;

			&__item {
				cursor: pointer;
				color: var(--theme-text);
				background-color: var(--theme-project-bg);
				padding: 1rem;
				border: none;
				border-radius: 0.2rem;
				transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

				&[aria-disabled='true'] {
					color: grey;
				}

				&[aria-current='page'],
				&[aria-disabled='false']:hover,
				&[aria-disabled='false']:focus {
					text-decoration: none;
					color: var(--clr-neutral-100);
					background-color: var(--theme-primary);
				}
			}
		}
	}
}
