$colors: (
	royal-blue: (
		100: hsl(225, 70%, 54%),
		200: hsl(225, 70%, 50%),
		300: hsl(225, 70%, 45%),
		400: hsl(225, 70%, 40%),
		500: hsl(225, 70%, 34%)
	),
	persian-blue: (
		100: hsl(209, 100%, 34%),
		200: hsl(209, 100%, 30%),
		300: hsl(209, 100%, 25%),
		400: hsl(209, 100%, 20%),
		500: hsl(209, 100%, 15%)
	),
	eerie-black: (
		100: hsl(250, 48%, 12%)
	),
	gunmetal: (
		100: hsl(251, 26%, 21%)
	),
	gray: (
		100: hsl(0, 0%, 54%),
		200: hsl(0, 0%, 31%),
		300: hsl(0, 0%, 18%)
	),
	neutral: (
		100: hsl(0, 0%, 100%),
		200: hsl(0, 0%, 13%)
	)
);
