$colors: (
	primary: (
		100: hsl(209, 100%, 34%),
		200: hsl(209, 100%, 26%),
		300: hsl(209, 100%, 18%),
		400: hsl(209, 100%, 15%),
		500: hsl(209, 100%, 10%)
	),
	background: (
		100: hsl(0, 0%, 100%),
		200: hsl(0, 0%, 74%),
		300: hsl(0, 0%, 54%),
		400: hsl(0, 0%, 25%),
		500: hsl(0, 0%, 13%)
	),
	text: (
		100: hsl(0, 0%, 100%),
		200: hsl(0, 0%, 0%)
	)
);
