$colors: (
	primary: (
		100: hsl(260, 100%, 52%),
		200: hsl(260, 100%, 48%),
		300: hsl(260, 100%, 35%),
		400: hsl(260, 100%, 30%),
		500: hsl(260, 100%, 20%)
	),
	background: (
		100: hsl(231, 81%, 58%),
		200: hsl(231, 81%, 45%),
		300: hsl(231, 81%, 40%),
		400: hsl(231, 81%, 35%),
		500: hsl(231, 81%, 25%)
	)
);
