@use "sass:map";
@use 'breakpoints' as *;

// mq = media query
@mixin mq($key) {
	$size: map.get($breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

// For rare circumstances where breakpoints do not match
// cmq = custom media query
@mixin cmq($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin south-facing-triangle($clr) {
	content: '';
	display: inline-block;
	border-left: 0.5rem solid transparent;
	border-right: 0.5rem solid transparent;
	border-top: 0.5rem solid $clr;
}

@mixin no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
