$themes: (
	light: (
		theme-primary: var(--clr-primary-100),
		theme-background: var(--clr-background-100),
		theme-text: var(--clr-text-200),
		theme-text-dark-bg: var(--clr-text-100)
	),
	dark: (
		theme-primary: var(--clr-primary-500),
		theme-background: var(--clr-primary-500),
		theme-text: var(--clr-text-100),
		theme-text-dark-bg: var(--clr-text-200)
	)
);
