@use '../../scss/abstracts/mixins' as *;

noscript {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	z-index: 9999;

	label {
		cursor: pointer;
		position: absolute;
		right: 1rem;
		top: 1rem;
		padding: 0.1rem 0.4rem;
	}

	input {
		display: none;

		&:checked ~ * {
			display: none;
		}
	}

	div {
		background-color: black;
		padding: 3rem;
	}
}

main {
	padding-inline: var(--content-padding);
	padding-top: 8rem;
	padding-bottom: 3rem;
	display: grid;
	gap: 6rem;
	overflow: hidden;

	@include mq(small) {
		gap: 12rem;
	}
}

.toast-wrap {
	position: absolute;
	--toastContainerTop: 8.25rem;
}
